@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova-semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'DINPro';
    src: url('/fonts/dinpro-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 