@import "tailwindcss";
@import "@nuxt/ui";


@theme {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-teal: #00F19F;
  --color-sky: #67AEE6;
  --color-green: #16EC06;
  --color-yellow: #FFDE00;
  --color-red: #FF0026;
  --color-slate: #7BA1BB;
  --color-blue: #0093E7;

  --color-recovery: var(--color-sky);
  --color-recovery-high: var(--color-green);
  --color-recovery-medium: var(--color-yellow);
  --color-recovery-low: var(--color-red);
  --color-sleep: var(--color-slate);
  --color-strain: var(--color-blue);
  
  /* Extend existing colors with Whoop palette */
  --color-primary: var(--color-teal);
  --color-secondary: var(--color-blue);
  --color-success: var(--color-green);
  --color-warning: var(--color-yellow);
  --color-error: var(--color-red);
  --color-info: var(--color-sky);
  --color-neutral: var(--color-steel-700)

  --color-steel-50: #F1F5F9;
  --color-steel-100: #E2E8F0;
  --color-steel-200: #CBD5E1;
  --color-steel-300: #94A3B8;
  --color-steel-400: #64748B;
  --color-steel-500: #274759;
  --color-steel-600: #1b3440;
  --color-steel-700: #182a35;
  --color-steel-800: #12222b;
  --color-steel-900: #101518;

  /* Custom Gray Scale */
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #EEEEEE;
  --color-gray-300: #E0E0E0;
  --color-gray-400: #BDBDBD;
  --color-gray-500: #B3B3B3;
  --color-gray-600: #9E9E9E;
  --color-gray-700: #757575;
  --color-gray-800: #616161;
  --color-gray-900: #424242;


  /* Font Families */
  --default-font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "DINPro", "Helvetica Neue", Helvetica, Arial, monospace;

  /* Typography Styles */
  --font-color: var(--color-white);
  --font-weight-headline: 700;
  --font-weight-body: 600;
  --font-weight-numbers: 700;

  /* Letter Spacing */
  --letter-spacing-headline: 0.1em;
  --letter-spacing-body: normal;
  --letter-spacing-numbers: normal;

  /* Text Transform */
  --text-transform-headline: uppercase;
  --text-transform-body: none;
  --text-transform-numbers: none;
}
/* Uses Whoop Color Palette */
:root {
    /* Core UI tokens */
    --ui-radius: 0.5rem;
    --ui-container: 90rem;
    /* --ui-bg: var(--color-white);
    --ui-text: var(--color-gray-900);
    --ui-border: var(--color-gray-200); */
    --ui-bg: var(--color-steel-700);
    --ui-text: var(--font-color);
    --ui-text-muted: var(--color-gray-500);
    --ui-border: var(--color-steel-500);
    --ui-bg-elevated: var(--color-steel-600);
    --ui-bg-active: var(--color-steel-600);
    --ui-bg-elevated-active: var(--color-steel-600);
    /* --ui-font-family: var(--default-font-family);
    --ui-font-headline: var(--font-headline); */
    /* --ui-font-body: var(--font-body);
    --ui-font-numbers: var(--font-numbers);
    --ui-font-weight-headline: var(--font-weight-headline);
    --ui-font-weight-body: var(--font-weight-body);
    --ui-font-weight-numbers: var(--font-weight-numbers);
    --ui-font-letter-spacing-headline: var(--font-letter-spacing-headline);
    --ui-font-letter-spacing-body: var(--font-letter-spacing-body);
    --ui-font-letter-spacing-numbers: var(--font-letter-spacing-numbers);
    --ui-font-text-transform-headline: var(--font-text-transform-headline);
    --ui-font-text-transform-body: var(--font-text-transform-body);
    --ui-font-text-transform-numbers: var(--font-text-transform-numbers); */
    
    
    /* Semantic color tokens */
    --ui-primary: var(--color-primary-500);
    --ui-secondary: var(--color-gray-500);
    --ui-success: var(--color-green-500);
    --ui-info: var(--color-blue-500);
    --ui-warning: var(--color-orange-500);
    --ui-error: var(--color-red-500);
    --ui-neutral: var(--color-steel-700);
}

:dark {
    --ui-bg: var(--color-steel-700);
    --ui-text: var(--color-gray-500);
    --ui-border: var(--color-steel-200);
}